<font color='diamond' font size='6px'>**Fake News Detection using n-gram range**</font>

In [2]:
import pandas as pd

In [72]:
df1 = pd.read_csv("D:\ML Coding Ninza\Coding\Dataset\Fake.csv")
df2 = pd.read_csv("D:\ML Coding Ninza\Coding\Dataset\True.csv")

In [73]:
df1['target']=1
df2['target']=0

In [74]:
df1.shape, df2.shape

((23481, 5), (21417, 5))

In [75]:
df1 = df1.sample(6000).reset_index(drop=True)
df2 = df2.sample(6000).reset_index(drop=True)
df1.shape, df2.shape

((6000, 5), (6000, 5))

In [76]:
#concat function is used to merge two dataframe
df = pd.concat([df1, df2], axis=0, ignore_index=True)
df.tail()

,title,text,subject,date,target
11995,"Chechen leader, amid reshuffles, says ready to...","MOSCOW (Reuters) - Ramzan Kadyrov, head of Rus...",worldnews,"November 27, 2017",0
11996,Bulgaria arrests gang suspected of smuggling m...,SOFIA (Reuters) - Bulgarian authorities have d...,worldnews,"December 18, 2017",0
11997,China defends its right to 'ready slingshot' i...,BEIJING (Reuters) - China defended its right o...,politicsNews,"December 15, 2016",0
11998,Islamic State claims responsibility for Aden c...,CAIRO (Reuters) - Militant group Islamic State...,worldnews,"November 29, 2017",0
11999,Trump says U.S. 'very protective' of Baltic re...,WASHINGTON (Reuters) - President Donald Trump ...,politicsNews,"August 28, 2017",0

In [77]:
df.drop(['title', 'subject', 'date'], inplace=True, axis=1)
# df.drop(df.columns[1:4], inplace=True,axis=1) This is used when we have to drop the columns in range[a:b]

In [78]:
print(df.shape)
df.head()

(12000, 2)

                                                text  target
0  Obama inspired hate...The Latest on a man char...       1
1  TIME s 100 Most Influential People in the Worl...       1
2  Modern day culture is far from what it used to...       1
3  Trump s supporters, and some in the press, bel...       1
4  There s nothing quite like an arrogant actor w...       1

In [79]:
#sample function is used to shuffle the dataframe, 
# #frac-> all the value will be shuffled    reset_index-> index will be reset 
df =df.sample(12000, random_state=1000).reset_index(drop=True)
print(df.target.iloc[11990:12000])
df.tail()

11990    1
11991    1
11992    0
11993    1
11994    0
11995    1
11996    1
11997    0
11998    1
11999    0
Name: target, dtype: int64

                                                    text  target
11995  Before we get too far into this story, it need...       1
11996  We ve been following this push to remove all s...       1
11997  SOCHI, Russia (Reuters) - Russian President Vl...       0
11998   Well, first of all, I didn t have my hands in...       1
11999  CARACAS (Reuters) - Venezuela on Monday accuse...       0

In [80]:
df.target.value_counts()

0    6000
1    6000
Name: target, dtype: int64

<font font size='5px' color='violet'>**Preprocessing the data**</font>

In [81]:
import spacy

In [82]:
nlp = spacy.load("en_core_web_sm")

In [83]:
def preprocess(text):
    doc= nlp(text)
    list = [token.text for token in doc if not token.is_stop and not token.is_punct]
    return " ".join(list)

In [84]:
df['preprocessed_text'] = df['text'].apply(preprocess)
df.head()

,text,target,preprocessed_text
0,TOKYO/SYDNEY (Reuters) - An ambitious Asia-Pac...,0,TOKYO SYDNEY Reuters ambitious Asia Pacific tr...
1,"Antifa is a violent, anti-fascist protest grou...",1,Antifa violent anti fascist protest group deep...
2,Has America reached a tipping point? Will more...,1,America reached tipping point fed Americans be...
3,NEW YORK (Reuters) - New York City has quietly...,0,NEW YORK Reuters New York City quietly begun r...
4,PRISTINA (Reuters) - Any move by Kosovo to scr...,0,PRISTINA Reuters Kosovo scrap war crimes court...

<Font color = ' #99ffbb' font size='5px'>Model Training using Pipeline</font>

In [85]:
from sklearn.model_selection import train_test_split

In [86]:
X_train, X_test, y_train, y_test = train_test_split(df['text'], df['target'], test_size= 0.2, random_state=1002)

In [88]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import  CountVectorizer

In [89]:
clf = Pipeline([
    ('vectorizer', CountVectorizer(ngram_range = (1, 2))),          #using the ngram_range parameter 
     ('naive_bayes', (MultinomialNB))    #using the KNN classifier with 10 neighbors and cosine distance       
])

In [90]:
clf.predict(X_train, y_train)

TypeError: predict() takes 2 positional arguments but 3 were given