In [265]:
from sklearn.feature_extraction.text import CountVectorizer

In [266]:
doc = ["a man is jumping from sky"]
cv = CountVectorizer(ngram_range=(1,3))
cv.fit(doc)
cv.vocabulary_

{'man': 8,
 'is': 2,
 'jumping': 5,
 'from': 0,
 'sky': 11,
 'man is': 9,
 'is jumping': 3,
 'jumping from': 6,
 'from sky': 1,
 'man is jumping': 10,
 'is jumping from': 4,
 'jumping from sky': 7}

In [267]:
corpos = ["thor is eating pizza", 
          "i went to home", 
          "i have bought a new car"]

In [268]:
import spacy

In [269]:
nlp = spacy.load("en_core_web_sm")

In [270]:
def preprocess(text):
    doc  = nlp(text)
    filtered_token = []
    for token in doc:
        if not token.is_stop and not token.is_punct:
            filtered_token.append(token.lemma_)
    return " ".join(filtered_token)

In [271]:
corpos_processed = [preprocess(corpos[i]) for i in range(3)]
corpos_processed

['thor eat pizza', 'go home', 'buy new car']

In [272]:
cv = CountVectorizer(ngram_range=(1,2))
cv.fit(corpos_processed)
cv.vocabulary_

{'thor': 11,
 'eat': 3,
 'pizza': 10,
 'thor eat': 12,
 'eat pizza': 4,
 'go': 5,
 'home': 7,
 'go home': 6,
 'buy': 0,
 'new': 8,
 'car': 2,
 'buy new': 1,
 'new car': 9}

In [273]:
cv.transform(["eat"]).toarray()

array([[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

<p> <font font size= "6px", color ="winter">Let's take a News article </font></p>

In [274]:
import pandas as pd

In [275]:

df = pd.read_json('D:/ML Coding Ninza/Coding/Dataset/News_Category_Dataset_v3.json', lines=True)
print(df.shape)
df.head()

(209527, 6)

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [276]:
df.category.value_counts()

POLITICS          35602
WELLNESS          17945
ENTERTAINMENT     17362
TRAVEL             9900
STYLE & BEAUTY     9814
PARENTING          8791
HEALTHY LIVING     6694
QUEER VOICES       6347
FOOD & DRINK       6340
BUSINESS           5992
COMEDY             5400
SPORTS             5077
BLACK VOICES       4583
HOME & LIVING      4320
PARENTS            3955
THE WORLDPOST      3664
WEDDINGS           3653
WOMEN              3572
CRIME              3562
IMPACT             3484
DIVORCE            3426
WORLD NEWS         3299
MEDIA              2944
WEIRD NEWS         2777
GREEN              2622
WORLDPOST          2579
RELIGION           2577
STYLE              2254
SCIENCE            2206
TECH               2104
TASTE              2096
MONEY              1756
ARTS               1509
ENVIRONMENT        1444
FIFTY              1401
GOOD NEWS          1398
U.S. NEWS          1377
ARTS & CULTURE     1339
COLLEGE            1144
LATINO VOICES      1130
CULTURE & ARTS     1074
EDUCATION          1014
Name: category, dtype: int64

In [277]:
df = df[df.category.isin(['BUSINESS','SPORTS', 'CRIME', 'SCIENCE'])]

In [278]:
print(df.shape)
df.category.value_counts()

(16837, 6)

BUSINESS    5992
SPORTS      5077
CRIME       3562
SCIENCE     2206
Name: category, dtype: int64

In [279]:
min_sample = 2206
df.business = df[df.category== 'BUSINESS'].sample(min_sample, random_state=2003)
df.sports = df[df.category== 'SPORTS'].sample(min_sample, random_state=2003)
df.crime = df[df.category== 'CRIME'].sample(min_sample, random_state=2003)
df.science = df[df.category== 'SCIENCE'].sample(min_sample, random_state=2003)

C:\Users\amana\AppData\Local\Temp\ipykernel_19940\3444652536.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.business = df[df.category== 'BUSINESS'].sample(min_sample, random_state=2003)
C:\Users\amana\AppData\Local\Temp\ipykernel_19940\3444652536.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.sports = df[df.category== 'SPORTS'].sample(min_sample, random_state=2003)
C:\Users\amana\AppData\Local\Temp\ipykernel_19940\3444652536.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.crime = df[df.category== 'CRIME'].sample(min_sample, random_state=2003)
C:\Users\amana\AppData\Local\Temp\ipykernel_19940\3444652536.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.science = df[df.category== 'SCIENCE'].sample(min_sample, random_state=2003)

In [280]:
df_balanced = pd.concat([df.business, df.sports, df.crime, df.science], axis=0)
print(df_balanced.shape)
df_balanced.category.value_counts()

(8824, 6)

BUSINESS    2206
SPORTS      2206
CRIME       2206
SCIENCE     2206
Name: category, dtype: int64

In [281]:
df_balanced['category_num'] = df_balanced['category'].map(
    {'BUSINESS':0, 
     'SPORTS': 1,
     'CRIME':2,
     'SCIENCE':3}
)

In [282]:
df_balanced = df_balanced.rename(columns = {'short_description':'text'})
df_balanced.head()

,link,headline,category,text,authors,date,category_num
57932,https://www.huffingtonpost.com/entry/uber-lyft...,"Once The Domain Of Millennials, Uber And Lyft ...",BUSINESS,It's the Baby Boomers' world. We're just livin...,Ryan Grenoble,2016-08-30,0
103824,https://www.huffingtonpost.com/entry/andrew-pi...,Andrew Pickup: Actively Seek Bigger Challenges...,BUSINESS,Contrary to what most career coaches may advis...,"Jonha Revesencio, ContributorMarketing for tec...",2015-03-27,0
115491,https://www.huffingtonpost.com/entry/write-you...,Write Your Way to Success,BUSINESS,Writing is a secret success weapon that's ofte...,"Stacia Pierce, ContributorLife coach, career e...",2014-11-13,0
81490,https://www.huffingtonpost.com/entry/borrowers...,Borrowers Pay the Piper for Lender Misdeeds,BUSINESS,,"Jack M. Guttentag, ContributorProfessor of Fin...",2015-12-06,0
84859,https://www.huffingtonpost.com/entry/hershey-i...,Hershey: U.S. Income Inequality Is Transformin...,BUSINESS,"CEO: ""We are seeing a widening disparity betwe...",,2015-10-29,0

In [283]:
df_balanced.category_num

57932     0
103824    0
115491    0
81490     0
84859     0
         ..
101177    3
89073     3
31107     3
78944     3
101854    3
Name: category_num, Length: 8824, dtype: int64

In [284]:
df_balanced.text.iloc[0:6].value_counts()

It's the Baby Boomers' world. We're just living in it.                                                                                                                                                                                                         1
Contrary to what most career coaches may advise, Andrew Pickup, Senior Director for Communications at Microsoft Asia, encourages us to actually change environment and seek for greater responsibilities especially during the early stages of our careers.    1
Writing is a secret success weapon that's often overlooked. Becoming a consistent writer, recording your thoughts in a journal, can bring many benefits.                                                                                                       1
                                                                                                                                                                                                                                                               1
CEO: "We are seeing a widening disparity between upper-income and lower-income"                                                                                                                                                                                1
Smart infrastructure decisions help everyone, including Uber.                                                                                                                                                                                                  1
Name: text, dtype: int64

In [285]:
print(df_balanced.text.iloc[0])
print(df_balanced.text.loc[57932])

It's the Baby Boomers' world. We're just living in it.
It's the Baby Boomers' world. We're just living in it.

#### <font color="aqua green">***split the dataset***</font>

In [286]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_balanced.text, df_balanced.category_num, 
test_size=0.2, random_state=2003, stratify=df_balanced.category_num)

In [287]:
print(X_train.shape)
X_train.head()
y_train.value_counts(),y_test.value_counts()

(7059,)

(3    1765
 1    1765
 2    1765
 0    1764
 Name: category_num, dtype: int64,
 0    442
 1    441
 2    441
 3    441
 Name: category_num, dtype: int64)

#### <font color="aqua green">***Add Machine Learning model***</font>

In [288]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report, accuracy_score

In [298]:
#pipeline is basically a vector and it takes list as an arguement
clf = Pipeline([
            ('bagOfWords', CountVectorizer()),
            ('naiveBayes', MultinomialNB())
])

In [299]:
clf.fit(X_train, y_train)

Pipeline(steps=[('bagOfWords', CountVectorizer()),
                ('naiveBayes', MultinomialNB())])

In [300]:
y_pred = clf.predict(X_test)
print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

0.6492917847025496
              precision    recall  f1-score   support

           0       0.61      0.71      0.66       442
           1       0.51      0.66      0.58       441
           2       0.77      0.62      0.69       441
           3       0.83      0.60      0.70       441

    accuracy                           0.65      1765
   macro avg       0.68      0.65      0.65      1765
weighted avg       0.68      0.65      0.65      1765

In [302]:
y_test[:10], y_pred[:10]

(87355     1
 107420    2
 46576     2
 107126    1
 136076    0
 77386     0
 107666    0
 136639    2
 116048    2
 39068     2
 Name: category_num, dtype: int64,
 array([1, 1, 2, 0, 0, 0, 0, 1, 2, 2], dtype=int64))

#### <font color="aqua green">***Preprocessing***</font>

In [311]:
import spacy

In [312]:
nlp = spacy.load("en_core_web_sm")

In [304]:
preprocessing =[]
def preprocess(text):
    doc = nlp(text)
    for token in doc:
        if not token.is_stop and not token.is_punct:
            preprocessing.append(token.text)
    return " ".join(preprocessing)

In [306]:
df_balanced['preprocess_text'] = df_balanced['text'].apply(preprocess)

In [307]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_balanced.preprocess_text, df_balanced.category_num, 
test_size=0.2, random_state=2003, stratify=df_balanced.category_num)

In [ ]:
clf.fit(X_train, y_train)

In [ ]:
y_pred = clf.predict(X_test)
print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))